@if (isVisible) {
    <div class="w-full bg-black/50 h-dvh absolute top-0 flex flex-col justify-center items-center">
        <div class="w-1/3 bg-secondary rounded-xl p-4">
            <header class="text-left text-white text-2xl font-Playfair border-b-3 pb-2">Declaration and Disclaimer</header>
            <p class="text-justify text-white p-2">I hereby declare that all information I have provided is true, accurate, and complete to the best of my knowledge and belief. I affirm that nothing has been concealed or misrepresented, and I understand that providing false or misleading information may result in penalties, disqualification, or other consequences as permitted by law or policy.</p>
            <div class="p-2 flex flex-row gap-2 text-white">
                <input type="checkbox" (change)="checked()" class="w-6 h-6">
                <label for="">Please check if you agree</label>
            </div>
            <button (click)="confirm()" class="p-2 w-full bg-accent text-white rounded-xl mt-2 disabled:!bg-gray-200/40 disabled:cursor-not-allowed" [disabled]="disclaimerConfirmation == false">Continue</button>
        </div>
    </div>
}