<div class="w-full block flex-col flex">
    <header class="text-3xl font-Playfair text-white">
        Screening Process
    </header>
    <div class="typingTest mt-2">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row items-center gap-4">
                <div>
                    @if (wpm == 0) {
                        <lucide-icon [img]="Pending" color="#000"></lucide-icon>
                    }
                    @if (wpm != 0) {
                        <lucide-icon [img]="Check" color="#000"></lucide-icon>
                    }
                </div>
                <div>
                    <span>Typing Test</span>
                </div>
            </div>
            <div>
                <button (click)="TypingTest()" class="bg-accent p-1 text-white w-30 mt-2 rounded-full font-Playfair cursor-pointer text-base !disabled:bg-gray-400 disabled:cursor-not-allowed disabled:!bg-gray-400" [disabled]="wpm != 0">
                    Proceed
                </button>
            </div>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row items-center gap-4">
                <div>
                    @if (score == 0) {
                        <lucide-icon [img]="Pending" color="#000"></lucide-icon>
                    }
                    @if (score != 0) {
                        <lucide-icon [img]="Check" color="#000"></lucide-icon>
                    }
                </div>
                <div>
                    <span>IQ Test</span>
                </div>
            </div>
            <div>
                <button (click)="iqtest()" class="bg-accent p-1 text-white w-30 mt-2 rounded-full font-Playfair cursor-pointer text-base !disabled:bg-gray-400 disabled:cursor-not-allowed disabled:!bg-gray-400" [disabled]="score !=0">
                    Proceed
                </button>
            </div>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row items-center gap-4">
                <div>
                    @if (generalInterview == 'Pending' || generalInterview == null) {
                        <lucide-icon [img]="Pending" color="#000"></lucide-icon>
                    }
                    @if (generalInterview == 'Done') {
                        <lucide-icon [img]="Check" color="#000"></lucide-icon>
                    }
                </div>
                <div>
                    <span>General Interview</span>
                </div>
            </div>
            <div>
            <button (click)="generalInterviewTest()" class="bg-accent p-1 text-white w-30 mt-2 rounded-full font-Playfair cursor-pointer text-base !disabled:bg-gray-400 disabled:cursor-not-allowed disabled:!bg-gray-400" [disabled]="generalInterview == 'Done'">
                    Proceed
                </button>
            </div>
        </div>
    </div>
    <button *ngIf="InformationModule.InfoField.positionSelected === 'Accounting'"  class="bg-accent p-3 text-white w-full mt-2 rounded-full font-Playfair text-xl">
        Take Accounting Test
    </button>
    <button *ngIf="InformationModule.InfoField.positionSelected === 'Civil Engineer'" class="bg-accent p-3 text-white w-full mt-2 rounded-full font-Playfair text-xl">
        Take Engineering Test
    </button>
</div>