<div class="p-6">
    <header class="text-4xl text-left text-black font-semibold font-Playfair leading-10">
        Tips to Ace Your Interview
    </header>
    <div class="text-black text-justify mt-5 text-xl font-Lora flex flex-col gap-3 max-w-3xl mx-auto">
        <p><b>1.</b> Focus on your actual experience — share what you did, how you did it, and what you learned. Be specific about your tasks and results.</p>
        <p><b>2.</b> If you don’t have experience yet, be honest. Highlight your willingness to learn, your discipline, and any related training.</p>
        <p><b>3.</b> Read carefully to questions before answering. Keep your answers short but clear.</p>
        <p><b>4.</b> Research basic information about the company and the role so you can align your answers with what they’re looking for.</p>
    </div>

    <p class="mt-10 font-[700] text-2xl font-Playfair">Ready to take the interview? please click Proceed.</p>
</div>
