<div class="background w-full h-dvh p-5 overflow-auto">
    <div class="flex flex-row gap-6">
        <div class="w-2/3 bg-white/90 backdrop-blur-lg p-6 rounded-2xl shadow-xl overflow-y-auto border border-gray-200">
        <header class="font-Playfair text-2xl font-bold border-b pb-3 text-gray-800">
            Applicant Information
        </header>

        <div *ngIf="!loading; else loadingBlock" class="mt-6 space-y-6">
            <section *ngIf="applicant" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
                <h3 class="font-semibold text-lg text-black mb-2">Personal Information</h3>
                <p><b>Name:</b> {{ applicant.firstname | titlecase}} {{ applicant.lastname| titlecase }}</p>
                <p><b>Email:</b> {{ applicant.email| titlecase }}</p>
                <p><b>Phone:</b> {{ applicant.contactnumber| titlecase }}</p>
                <p><b>Civil Status:</b> {{ applicant.civilStatus| titlecase }}</p>
                <p><b>Birthday:</b> {{ applicant.birthdate | titlecase}}</p>
                <p><b>Religion:</b> {{ applicant.religion | titlecase}}</p>
                <p><b>Address:</b> {{ applicant.province | titlecase}}, {{ applicant.cities | titlecase}} {{ applicant.barangay | titlecase}}, {{applicant.zipcode}}</p>
                <p><b>Blood Type:</b> {{ applicant.blood_type | titlecase}}</p>
                <p><b>Gender:</b> {{ applicant.gender | titlecase}}</p>
                <p><b>Nickname:</b> {{ applicant.nickname | titlecase}}</p>
            </section>
            <section *ngIf="education" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
                <div class="flex flex-row items-center justify-between">
                    <h3 class="font-semibold text-lg text-black mb-2">Education</h3>
                    <lucide-icon [img]="editPen" class="cursor-pointer"></lucide-icon>
                </div>
                <p><b>School:</b> {{ education.college }}</p>
                <p><b>Degree:</b> {{ education.course }}</p>
                <p><b>Year Graduated:</b> {{ education.yeargraduate }}</p>
            </section>
            <section *ngIf="status" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
                <div class="flex flex-row items-center justify-between">
                    <h3 class="font-semibold text-lg text-black mb-2">Application Status</h3>
                    <lucide-icon [img]="editPen" class="cursor-pointer"></lucide-icon>
                </div>
                <p><b>One Year Contract:</b> {{ status.lockincontract }}</p>
                <p><b>Drivers License:</b> {{ status.license }}</p>
                <p><b>Motorcycle:</b> {{ status.motorcycle }}</p>
                <p><b>Skills:</b> {{ status.technicalSkills }}</p>
            </section>
            <section *ngIf="eligibility" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
                <div class="flex flex-row items-center justify-between">
                    <h3 class="font-semibold text-lg text-black mb-2">Eligibility</h3>
                    <lucide-icon [img]="editPen" class="cursor-pointer"></lucide-icon>
                </div>
                <p>{{ eligibility.eligibility }}</p>
            </section>
        </div>
    </div>
    <div class="bg-white/90 backdrop-blur-lg p-6 rounded-2xl shadow-xl overflow-y-auto border border-gray-200 w-1/3 gap-6 flex flex-col">
        <section *ngIf="marriage" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <div class="flex flex-row items-center justify-between">
                <h3 class="font-semibold text-lg text-black mb-2">Marriage</h3>
                <lucide-icon [img]="editPen" class="cursor-pointer"></lucide-icon>
            </div>
            <p><b>Status:</b> {{ marriage.dateMarried }}</p>
        </section>
        <section *ngIf="work" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <div class="flex flex-row items-center justify-between">
                <h3 class="font-semibold text-lg text-black mb-2">Work Experience</h3>
                <lucide-icon [img]="addWork" class="cursor-pointer" (click)="addWorkExperience()"></lucide-icon>
            </div>
            @for (work of work; track $index) {
                <div class="flex flex-row w-full items-center justify-between">
                    <h3 class="font-semibold text-lg text-black mb-2 block w-10 text-center rounded-full bg-primary py-1 px-3">{{$index + 1}}</h3>
                    <lucide-icon [img]="editPen" size="20px" class="cursor-pointer" (click)="modifyWork(work.work_i_information_id!)"></lucide-icon>
                </div>
                <div class="pl-5 mb-2">
                    <p><b>Company:</b> {{ work.companyname }}</p>
                    <p><b>Role:</b> {{ work.position }}</p>
                    <p><b>Reason for Leaving:</b> {{ work.reasonforleaving }}</p>
                    <p><b>Duration:</b> {{ work.workduration }}</p>
                </div> 
            }
        </section>
        <section *ngIf="status" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <div class="flex flex-row items-center justify-between">
                <h3 class="font-semibold text-lg text-black mb-2">Portfolio</h3>
                <lucide-icon [img]="editPen" class="cursor-pointer"></lucide-icon>
            </div>
            <p><b>Portfolio:</b> <a href="{{ status.potfolio_link }}"> {{ status.potfolio_link }}</a></p>
        </section>
    </div>
</div>

<ng-template #loadingBlock>
  <p class="text-gray-500 italic animate-pulse">Loading applicant data...</p>
</ng-template>

@if (WorkModal) {
    <div class="w-full h-dvh flex flex-col justify-center items-center bg-black/30 absolute top-0 left-0">
        <div class="w-1/3 p-3 flex flex-col bg-white rounded-xl">
            <div class="border-b-2 pb-2 flex flex-row justify-between items-center">
                <header class="text-xl">
                    Work Experience
                </header>
                <lucide-icon [img]="CircleX" class="cursor-pointer" (click)="closeWorking()"></lucide-icon>
            </div>
            <form (ngSubmit)="workingExperience()">
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">Name of Company</label>
                    <input type="text" name="companyname" [(ngModel)]="WorkingInformation.companyname!" id="" class="w-full border rounded-md p-2" placeholder="Company Name">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">How long did you work?</label>
                    <div class="flex flex-row gap-2">
                        <div class="flex flex-col w-full">
                            <label for="fromDate">From</label>
                            <input type="date" id="fromDate" [(ngModel)]="fromDate" name="fromDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="toDate">To</label>
                            <input type="date" id="toDate" [(ngModel)]="toDate" name="toDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                        </div>
                        </div>
                        <input type="text" name="workduration" [(ngModel)]="WorkingInformation.workduration" id="" class="w-full border rounded-md p-2 hidden" placeholder="Duration" readonly>
                    </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">What made you leave?</label>
                    <input type="text" name="reasonforleaving" [(ngModel)]="WorkingInformation.reasonforleaving!" id="" class="w-full border rounded-md p-2" placeholder="What made you leave?">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">Position</label>
                    <input type="text" name="position" [(ngModel)]="WorkingInformation.position!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">What was your significant contribution in your previous company?</label>
                    <input type="text" name="contribution" [(ngModel)]="WorkingInformation.contribution" id="" class="w-full border rounded-md p-2" placeholder="Contribution">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">How much was your previous compensation?</label>
                    <input type="text" name="previouscompensation" [(ngModel)]="WorkingInformation.previouscompensation!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                </div>
                <button class="w-full p-2 rounded-xl bg-accent text-white mt-3">
                    Submit Changes
                </button>
            </form>
        </div>
    </div>
}
@if (modifyWorkExperience) {
    <div class="w-full h-dvh flex flex-col justify-center items-center bg-black/30 absolute top-0 left-0">
        <div class="w-1/3 flex flex-col p-3 bg-white rounded-xl">
            <div class="border-b-2 pb-2 flex flex-row justify-between items-center">
                <header class="text-xl">
                    Work Experience
                </header>
                <lucide-icon [img]="CircleX" class="cursor-pointer" (click)="closeWorking()"></lucide-icon>
            </div>
            <form (ngSubmit)="UpdateFormExperience()">
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">Name of Company</label>
                    <input type="text" name="companyname" [(ngModel)]="WorkingInformation.companyname!" id="" class="w-full border rounded-md p-2" placeholder="Company Name">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">How long did you work?</label>
                    <div class="flex flex-row gap-2">
                        <div class="flex flex-col w-full">
                            <label for="fromDate">From</label>
                            <input type="date" id="fromDate" [(ngModel)]="fromDate" name="fromDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="toDate">To</label>
                            <input type="date" id="toDate" [(ngModel)]="toDate" name="toDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                        </div>
                        </div>
                        <input type="text" name="workduration" [(ngModel)]="WorkingInformation.workduration" id="" class="w-full border rounded-md p-2 hidden" placeholder="Duration" readonly>
                    </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">What made you leave?</label>
                    <input type="text" name="reasonforleaving" [(ngModel)]="WorkingInformation.reasonforleaving!" id="" class="w-full border rounded-md p-2" placeholder="What made you leave?">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">Position</label>
                    <input type="text" name="position" [(ngModel)]="WorkingInformation.position!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">What was your significant contribution in your previous company?</label>
                    <input type="text" name="contribution" [(ngModel)]="WorkingInformation.contribution" id="" class="w-full border rounded-md p-2" placeholder="Contribution">
                </div>
                <div class="mt-2">
                    <label for="" class="font-Lora text-base">How much was your previous compensation?</label>
                    <input type="text" name="previouscompensation" [(ngModel)]="WorkingInformation.previouscompensation!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                </div>
                <button class="w-full p-2 rounded-xl bg-accent text-white mt-3">
                    Submit Changes
                </button>
            </form>
        </div>
    </div>
}